<!-- @fadeIn is an animation made in the xxxxx.component.ts that matches this xxxxxx.component.html -->
<div class="contact-container" @fadeIn>
  <h2>Contact Me</h2>
  <p>If you'd like to get in touch, feel free to connect with me on LinkedIn or send me an email.</p>


  <div class="contact-info">
    <div class="social">
      <a href="https://www.linkedin.com/in/michael-winnard/" target="_blank" class="linkedin-link">
        <i class="pi pi-linkedin"></i> LinkedIn
      </a>
    </div>
    <div class="email">
      <a href="mailto:michaelwinnard@outlook.dk" class="email-link">
        <i class="pi pi-envelope"></i> michaelwinnard@outlook.dk
      </a>
    </div>


  </div>
</div>

