<div class="about-container" @fadeIn>
  <div class="profile-section">
    <img
      src="/assets/profile/profile_pic.jpg"
      alt="Michael Winnard profile picture"
      class="profile-pic"
    />
    <h2>Michael Winnard</h2>
    <p class="quote">
      "It's all going to be good in the end. If it's not good, it's not the end"
    </p>
    <br />------------------------------
    <p class="bio">
      I am an experienced professional and empathetic leader with a passion for
      success, demonstrating analytical acumen and a strong focus on achieving
      strategic objectives.
      <br /><br />
      I have over +25 years of experience in driving and managing large-scale,
      effective transformational change, ensuring sustained improvement and
      growth within organizations. I have honed skills in
      <b> <i> Project Management </i></b> ,
      <b><i>Personnel Leadership and Development</i> </b>,
      <b><i> Mentoring and Coaching </i></b>,
      <b><i>Interpersonal Communication</i></b> as well as
      <b><i> Public Speaking </i></b> and
      <b><i>Creating and Facilitating Workshops</i></b
      >. <br /><br />
      My journey has taken me from starting as a Travel Agent Manager at a local
      branch to Head of Operations - Global marine, Offshore and Energy in one
      of the worlds biggest B2B business travel platforms, Egencia. In the
      aftermath of the Covid-19 pandemic, I have been a Business Manager with
      direct reporting to the Chief Production Office at OBH Rådgivende
      Ingeniører riving business development initiatives and overseeing project
      management to ensure alignment with strategic goals.
      <br /><br />
      I'm excited about leveraging my expertise to create impactful and
      streamlined operations in complex, culturally diverse, and international
      as well as local environments.
    </p>
  </div>

  <p-divider></p-divider>
  <div class="skills-section">
    <a routerLink="/skills-overview" class="skills-overview-button">
      Read more about my skills and competencies here
    </a>
  </div>
  <div class="download-section">
    <a
      href="/assets/files/CV-MWD-English.pdf"
      class="resume-button"
      target="_blank"
      >Download My Resume</a
    >
  </div>
</div>
