<div class="navbar">
  <!-- Hamburger menu for mobile  -->
    <div class="hamburger-menu" (click)="toggleMenu()">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>


  <!-- Navbar links -->
  <div class="navbar-links" [ngClass]="{'open': menuOpen}">
    <a routerLink="/home" routerLinkActive="active" (click)="closeMenu()">Home</a>
    <a routerLink="/about" routerLinkActive="active" (click)="closeMenu()">About Me</a>
    <a routerLink="/skills-overview" routerLinkActive="active" (click)="closeMenu()">Skills Overview</a>
    <a routerLink="/work" routerLinkActive="active" (click)="closeMenu()">Previous Work</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
    <a routerLink="/resume" routerLinkActive="active" (click)="closeMenu()">Resume</a>
  </div>
</div>

<!-- Where all the components will be displayed -->
<router-outlet></router-outlet>

<!-- PrimeIcons are used for LinkedIn (pi-linkedin), GitHub (pi-github), Facebook (pi-facebook), and Instagram (pi-instagram). 
 These classes are applied to the <i> tags. -->

<footer class="footer" @fadeIn>
  <div class="container">
    <ul class="social-links">
      <li>
        <a aria-label="LinkedIn link" href="https://www.linkedin.com/in/michael-winnard/" target="_blank">
          <i class="pi pi-linkedin"></i>
        </a>
      </li>
      <li>
        <a aria-label="Github link" href="https://github.com/username" target="_blank">
          <i class="pi pi-github"></i>
        </a>
      </li>
      <li>
        <a aria-label="Facebook link" href="https://www.facebook.com/michael.winnard/" target="_blank">
          <i class="pi pi-facebook"></i>
        </a>
      </li>
      <li>
        <a aria-label="Instagram Link" href="https://www.instagram.com/michael-winnard/" target="_blank">
          <i class="pi pi-instagram"></i>
        </a>
      </li>
    </ul>
    <p>&copy; {{ currentYear }} Michael Winnard. All rights reserved.</p>
  </div>
</footer>