<div class="skills-overview" @fadeIn>
  <h1 class="section-title">Skills and Abilities</h1>
  <div class="skills-categories">
    <div class="skills-category">
      <h3>Leadership and Management</h3>
      <p>
        Experienced in leading teams and driving business growth through
        strategic planning and execution. Skilled in personnel leadership and
        fostering a collaborative work environment.
      </p>
      <ul>
        <li>Experienced in Personnel Leadership</li>
        <li>Transformational Leadership</li>
        <li>Strategic Planning and Execution</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Project and Operations Management</h3>
      <p>
        Proficient in managing projects and optimizing operations to enhance
        efficiency. Demonstrates strong capabilities in budget management and
        ensuring high-quality service delivery.
      </p>
      <ul>
        <li>Project Management</li>
        <li>Operational Efficiency</li>
        <li>Budget Management</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Communication and Stakeholder Management</h3>
      <p>
        Skilled in effective communication and collaboration with various
        stakeholders. Adept at managing relationships and fostering a positive
        work environment.
      </p>
      <ul>
        <li>Interpersonal Communication</li>
        <li>Collaborative Approach</li>
        <li>Stakeholder Management</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Coaching and Mentoring</h3>
      <p>
        Experienced in mentoring and coaching employees to achieve their full
        potential. Focused on team development and creating a supportive
        environment.
      </p>
      <ul>
        <li>Employee Development</li>
        <li>Team Building</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Analytical and Problem-Solving Skills</h3>
      <p>
        Strong analytical skills with a systematic approach to problem-solving.
        Capable of tackling challenges efficiently and implementing effective
        solutions.
      </p>
      <ul>
        <li>Analytical Acumen</li>
        <li>Systematic Problem Solving</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Commercial and Customer Focus</h3>
      <p>
        Focused on delivering excellent customer service and driving commercial
        success. Demonstrates strong commercial acumen and understanding of
        customer needs.
      </p>
      <ul>
        <li>Customer Service Excellence</li>
        <li>Commercial Acumen</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Technical and Software Skills</h3>
      <p>
        Proficient in using various software tools to enhance productivity and
        efficiency. Experienced in utilizing the Microsoft Office suite
        effectively.
      </p>
      <ul>
        <li>Microsoft Office Suite</li>
      </ul>
    </div>

    <div class="skills-category">
      <h3>Adaptability and Change Management</h3>
      <p>
        Able to adapt to changing environments and manage organizational change
        effectively. Focused on maintaining agility and achieving strategic
        goals amidst dynamic conditions.
      </p>
      <ul>
        <li>Change Management</li>
        <li>Agility</li>
      </ul>
    </div>
  </div>
  <p aria-label="scroll to top button"  (click)="scrollToTop()" class="scroll-to-top">Scroll to top</p>
</div>
