<!-- @fadeIn is an animation made in the xxxxx.component.ts that matches this xxxxxx.component.html -->
<div class="resume-container" @fadeIn>
  <h2>Download My Resume</h2>
  <p>Feel free to download my resume in your preferred language.</p>

  <div class="resume-buttons">
    <a
    aria-label="download english CV"
      href="assets/files/CV-MWD-English.pdf"
      download
      class="resume-button english"
    >
      <i class="pi pi-download"></i> English Version
    </a>
    <a
    aria-label="download danish CV"
      href="assets/files/CV-MWD-Dansk.pdf"
      download
      class="resume-button danish"
    >
      <i class="pi pi-download"></i> Danish Version
    </a>
  </div>
</div>
